<div id="error-page">
    <div id="error-container">
        <h1 id="four">404 Page Not Found</h1>
        <br>
        <img src="/assets/404_bird.png" id="shrug-bird" alt="404 condor not found">
        <br>
        <a href="/" id="go-back">Back to Project Condor</a>
    </div>
</div>
