<div id="home">
  <div id="front-container">
      <div id="front-font">
        <img src="/assets/hourglass_logo.png" id="hourglass" alt="project logo">
        <h1 id="title">Project Condor</h1>
        <h3 id="title-text">Find, watch and pledge to help endangered species</h3>
        <a href="/login" id="sign-in">Sign In </a>
    </div>
  </div>
</div>