body{
  background:rgb(230, 218, 218);
  min-height: 100%
}

#home {
  height: 100vh;
  background: url(../assets/California_Condor.png) no-repeat center center fixed;
  -webkit-background-size: cover; 
  -moz-background-size: cover;    
  -o-background-size: cover;      
  background-size: cover; 
  position: relative; 
  z-index: 1; 
}

h1 {
  font-family: 'PT Serif', serif;
}

ul {
  list-style-type: none;
}

#front-font {
  position: absolute;
  top: 120px;
  width: 100%;
  max-width: 500px;
  margin: auto;
  height: auto;
  margin-left: 12vw;
  box-sizing: border-box;
  text-align: center;
}

#hourglass {
  width: 250px;
  height: 221px;
}

#title {
  font-size: 3.5em;
  font-weight: 900;
  font-family: 'PT Serif', serif;
  padding-bottom: 20px;
  color: whitesmoke;
  text-shadow: 2px 1px rgb(8, 8, 8);
}

#title-text {
  font-size: 1.4em;
  font-family: 'Slabo 27px', serif;
  padding-bottom: 45px;
  color: #0e0e0d;
}

#sign-in {
  font-size: 1.5em;
  background: #31312f;
  padding: 15px;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  font-family: 'Slabo 27px', serif;
  z-index: 1000;
  border-radius: 6px;
  cursor: pointer;
}

#sign-in:hover {
  background: black;
}

#error-container {
  width: 100%;
  max-width: 820px;
  margin: auto;
  height: auto;
  text-align: center;
  margin-top: 100px;
  padding: 20px;
  box-sizing: border-box;
}

#four {
  font-family: 'PT Serif', serif;
  font-weight: 600;
  font-size: 1.7em;
}

#go-back {
  font-size: 1.6em;
}

/* animal.handlebars page */

#wings {
  height: 100vh;
  background: url(../assets/wingspread.png) no-repeat center center fixed;
  -webkit-background-size: cover; 
  -moz-background-size: cover;    
  -o-background-size: cover;      
  background-size: cover; 
  position: relative; 
}

#navbar {
  background: #c53d44;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
}

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
  }

.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
}

.search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
}

#user-font {
  font-family: 'Slabo 27px', serif;
  font-size: 1.6em;
}

#top-bar {
  margin: auto;
}

#hourglass-small {
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
  height: 60px;
  width: 60px;
  margin-left: 50px;
  margin-right: 20px;
}

.navbar-brand {
  font-family: 'PT Serif', serif;
  color: white;
  padding: 10px;
  font-size: 1.7em;
  text-shadow: 2px 2px #31312f;
}

#log-out, #submit-btn {
  background: #353b48;
  padding: 9px;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  font-family: 'Slabo 27px', serif;
  z-index: 1000;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;
}

#textInput {
  padding:8px 15px;
  background:rgba(10, 10, 10, 0.2);
  border:0px solid #dbdbdb;
  border-radius: 10px;
}

#log-out:hover, #submit-btn:hover {
  background: #1d2129;
}

#animal-banner {
  width: 99vw;
  height: auto;
  object-fit: cover;
}

#red-line {
  height: 10px;
  background: #c53d44;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
}

#homepage-header {
  text-align: center;
}

#animal-header {
  font-family: 'Slabo 27px', serif;
  font-size: 1.2em;
  margin: 18px;
}

#page-text{
  text-align: center;
}

#favorite-header {
  font-family: 'Slabo 27px', serif;
  font-weight: 500;
  color:whitesmoke;
  margin: 7px;
}

#page-text {
  font-family: 'Slabo 27px', serif;
  font-size: 1.3em;
}

#list{
  display: flex;
}

.top-picks {
  justify-content: center;
}

.sidenav {
  padding-top: 20px;
  background-image: linear-gradient(#443939, #e6dada);
  min-height: 400px;
}

#animal-results {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: .95em;
  line-height: 1.6;
  margin-left: 35px;
}

#common {
  font-size: 1.4em;
}


footer {
  background-color: #c53d44;
  color: white;
  padding: 6px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}